extends layout

block content
  h1= title

  p Olin Apps indexes the entire archive for:

  ul
    li helpme
    li carpediem
  
  h2 API

  p This is an API for retrieving mailman messages programmatically. These are coming from GMail, so hit it as often as you'd like.

  p Each of these results if done from an external program should include a 
    code ?sessionid=
    |  parameter. Your session id is 
    code= sessionid
    | . When you log out of olinapps.com, your sessionid is reset.

  ul
    li
      a(href="/api/lists/helpme?sessionid=" + sessionid + "&text=helpyou")
        code
          | http://lists.olinapps.com/api/lists/[list name]?sessionid=...&text=[some text to search for]
      br
      | This returns a JSON object with an "urls" property, each a link to a batched JSON list of messages (50 each). The IDs are definitely not in Date order, despite their appearance.
    li
      a(href="/api/messages?sessionid=" + sessionid + "&ids=55927,74429,74531,74536,74537,74663,74743,74818,74834,75057,75182,75214,75252,75254,75292,75380,75476,75512,75746,75747")
        code
          | http://lists.olinapps.com/api/messages?ids=[comma separated list of mail ids]&sessionid=...
      br
      | Return the content for a set of messages.